.batman{
    position: relative;
    top: 0;
    left: 0;
    transform: rotateZ(90deg) translate(200px, -500px) scale(4,4); 
  }
  
  .joker{
    position: absolute;
    top: 0px;
    left: 0px;
  }








